.box2 {
    margin-left: 100px;
    /* border-top: 25px solid green;*/
    border-left: 25px solid black transparent;
    border-bottom: 25px  solid red ;
    border-right: 25px solid pink transparent;
}
